.log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 59px;
  color: black;
  background: #fff7f1;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
